<div class="backgroundSearchBook">
    <div class="container">
      <div class="main">
        <h1>Search</h1>
        <p class="btn-primary">Search for a book in the library</p>
      </div>
    </div>
  
    <div class="Form3">
      <h1 class="centered-text">Search For A Book:</h1>

      <input type="text" formControlName="ISBN" placeholder="ISBN" id="ISBN" />
      <input type="text" formControlName="author" placeholder="Author" id="author" />
      <input type="text" formControlName="title" placeholder="Title" id="title" />

      <input type="checkbox" formControlName="ebooksOnly" id="ebooksOnly" />
      <label class="btn-searchEbook" for="ebooksOnly">Search EBooks only</label>

      <input class="cool-button-searchbook" type="submit" value="Search" />

      <div *ngIf="message" id="message-box" class="alert alert-danger">
        {{ message }}
      </div>
    </div>
</div>
    





  
 
  